@font-face {
  font-family: 'Russo';
  font-display: swap;
  src: local("O"), url("../fonts/RussoOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  /*Подключение стороннего шрифта оффлайн
    Connecting a non-standard font offline*/
}

body {
  background-color: #9cccf3;
}

body header {
  background-color: #219fd1;
}

body header .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
}

body header .head .but {
  margin-top: auto;
  margin-right: 20px;
  margin-left: auto;
  margin-bottom: 15px;
}

body header .head .but .login {
  background-color: DarkBlue;
  border-radius: 50px;
  height: 40px;
  width: 100px;
  margin-right: 10px;
}

body header .head .but .login:hover {
  background-color: RoyalBlue;
}

body header .head .but .reg {
  background-color: DarkBlue;
  border-radius: 50px;
  height: 40px;
  width: 170px;
}

body header .head .but .reg:hover {
  background-color: RoyalBlue;
}

body header .Sives {
  position: absolute;
  font-size: 700%;
  font-family: Russo;
  /*Использование стороннего шрифта оффлайн
    Using a non-standard font offline*/
  padding: 30px 40px;
}

body footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: rgba(147, 190, 228, 0.795);
  border-top: 5px double #3d4ee9;
}

body footer .cr {
  margin: 20px;
  font-size: 140%;
  color: #061ea5;
}
